@import "variables.scss";

.service {
    &__title-wrapper {
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    &__photo {

        & img{
            
        }
    }
}
.accordion {
    &-item {
    }
    &-header {
    }
    &-button {
        &:after {
            display: none !important; 
        }
    }
    &-collapse {
    }
    &-body {
    }
}

.collapse {
}
.show {
}

@include tablet {
}
@include mobile {
}
