$skyblue: #95e1d3;
$pink: #f38281;
$white: white;
$black: black;
$dark-grey: #2d3033;
$grey: #a9afb1;
$light-grey: #c6cbcd;
$bg-grey: #f8f8f8;
$orange: #f4bf87;
$eggshell: #f9efcf;

$gradient: linear-gradient(to bottom, #f38281 0%, #f4bf87 100%);
$opacity: 0.9;

$accent-font: "Kaushan Script", cursive;
$title-font: "Montserrat", sans-serif;
$main-font: "Raleway", sans-serif;

$breakpoint-desktop: 1070px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;

@mixin tablet {
    @media (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$breakpoint-mobile}) {
        @content;
    }
}

@include tablet {
}
@include mobile {
}

@mixin image-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin image-bg($url, $opacity, $color-bg) {
    background: url($url);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-bg;
        opacity: $opacity;
        z-index: 2;
    }
}
